<div id="page-content">
<h2 class="text-center mt-4 mb-4"><%= @article.title %></h2>

  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow-lg mb-5 bg-dark rounded">
            <div class="card-header font-italic text-light">
              by Deive Toraja
            </div>
            <div class="card-body bg-dark">
              <div class="card-text text-center"><%= simple_format(@article.description) %></div>
              <div class="card-text text-center"><%= simple_format(@article.title) %></div>
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning text-light" %>
              <%= link_to "Delete", article_path(@article),class: "btn btn-warning text-light", method: :Delete, data: {confirm: "Are you sure?"} %>
            </div>
            <div class="card-footer text-light">
              <small> created ago <%= time_ago_in_words(@article.created_at) %> ago,
              edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>